## Can't continue see explanation below

In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv("filtered_data.csv")
df.head()

,session_id_hash,product_action,purchase,len,session
0,00000114e1075962f022114fcfc17f2d874e694ac5d201...,"['view', 'view', 'view', 'view', 'view', 'view...",0,15,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1]"
1,0000913afa22ba9c31efb992bcf6388b0bbfe28056bef3...,"['view', 'detail', 'view', 'view', 'view', 'de...",0,120,"[1, 2, 1, 1, 1, 2, 1, 2, 1, 4, 1, 1, 1, 1, 2, ..."
2,00010d84aca1294479304044207fd268f63228844779c6...,"['view', 'view', 'view', 'view', 'view', 'view...",0,24,"[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 4, 1, 1, 2, 1, ..."
3,0001368d732951035a7ef7ef42b345a5c50b7d66966749...,"['view', 'view', 'detail', 'add', 'view', 'vie...",0,13,"[1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
4,0001c180fb742f96ff388ba8f67a568e6fa66aed30d0d2...,"['remove', 'view', 'detail', 'view', 'view', '...",1,23,"[3, 1, 2, 1, 1, 1, 3, 3, 3, 1, 1, 3, 1, 3, 1, ..."

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df["session"], df["purchase"], test_size=0.2, random_state = 123)

In [11]:
type(X_train)

pandas.core.series.Series

In [12]:
X_train = X_train.to_numpy()

In [13]:
X_test  = X_test.to_numpy()

In [14]:
y_train  = y_train.to_numpy()

In [15]:
y_test  = y_test.to_numpy()

In [16]:
X_test

array(['[1, 2, 2, 1, 1, 2, 4, 1, 2, 2, 1, 4, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 3, 1]',
       '[1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]', '[1, 1, 1, 1, 1]', ...,
       '[1, 1, 1, 1, 1, 2, 1, 1]',
       '[2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 4, 1, 1, 1, 2, 2, 1, 1, 3, 1, 1, 2]',
       '[1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1]'], dtype=object)

In [17]:
type(X_train)

numpy.ndarray

## how do i remove the ' between the arrays ?